<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<nav>
  <a [routerLink]="['/dashboard']">Dashboard</a>
  <a [routerLink]="'/heroes'">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<!-- <ul>
  <li style="background-color: #eee;margin: 6px;padding: 5px 0;position: relative;"><a
      style="width: 250px;"><span>abc</span>888</a></li>
  <li style="background-color: #eee;margin: 6px;padding: 5px 0;"><span>def</span>999</li>
</ul> -->